<section class="panel">
  <div class="panel-heading">
    <h1 class="panel-title">About Me</h1>
  </div>
  <div class="contact">
    {% if site.googleplus_user %}<a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author"><i class="fa fa-google-plus-square fa-2x"></i></a>{% endif %}
    {% if site.facebook_user %}<a href="http://facebook.com/{{ site.facebook_user }}" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>{% endif %}
    {% if site.github_user %}<a href="http://github.com/{{ site.github_user }}" title="GitHub"><i class="fa fa-github-square fa-2x"></i></a>{% endif %}
    {% if site.twitter_user %}<a href="http://twitter.com/{{ site.twitter_user }}" title="@{{ site.twitter_user }}"><i class="fa fa-twitter-square fa-2x"></i></a>{% endif %}
    {% if site.linkedin_user %}<a href="http://linkedin.com/in/{{ site.linkedin_user }}" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>{% endif %}
  </div>
</section>
